
.box{
    width: 100%;
    height: auto;
    border: 2px solid black;
    padding: 5px;
    margin-top: 0px 0px 0px 0px;
}
img{
    width: 180px;
    height: 180px;
    border: 2px solid rgb(0, 0, 0);
    margin-right: 10px;
}