*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box{
    width: 180px;
    height: 200px;
    background-color: aqua;
    padding: 20px;
    overflow  : auto;
}
.box2{
    width: 100%;
    height: auto;
}
img{
    float: right;
    margin-left: 20px;
}
.img2{
    clear: right;
}